<div class="center hero-unit">
  <h1>Welcome to Journio</h1>

  <h2>
    This is the homepage for Journio
  </h2>
  <%= link_to "Create a study", createstudy_path, class: "btn btn-large btn-primary" %>
</div>
