<% provide(:title, @participant.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @participant.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <h3> Entries </h3>
    <ol class = "entries">
      <% @account.sms.messages.list({:from => @participant.phone_number}).each do |sms| %>
        <li>
          <span class="content"><%= sms.body %></span>
        </li>
      <% end %>
    </ol>
  </div>
</div>