<li>
  <span class="message"><%= scheduled_message.message %></span>
  <span class="scheduled">
    Scheduled for: <%= l(scheduled_message.scheduled_at, :format => :sms_timestamp)%>
  </span>
  <%= link_to "cancel", study_scheduled_message_path(@study, scheduled_message.id), method: :delete,
                                     data: { confirm: "You sure?" } %>
</li>