<% provide(:title, 'Update Scheduled Message') %>
<h1>Update Scheduled Message</h1>
<div class = "row">
	<div class ="span6 offset3">
		<%= form_for [current_study, @scheduled_message] do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Update message", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>